.about-us {
    background-color: #E4EBF0;
    padding: 20px;

}

.w-100-bg {
    width: 100vw; 
    position: relative;
    left: 50%; 
    right: 50%;
    margin-left: -50vw; 
    margin-right: -50vw; 
    margin-top: 0;
}

.container-aboutUs h1 {
    text-align: center;
    color: black;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-us p {
    text-align: center;
    font-size: 20px;
}

.members {
    margin-top: 30px;
}

.team {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.team img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.version {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;

}

.team p {
    text-align: center;
    font-size: 20px;
}

.about-us h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.container-aboutUs {
    margin-bottom: 50px;
}