.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:rgba(228, 235, 240, 0.75);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

  }
  .centered-title {
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Ajustar margen superior según sea necesario */
  }
  
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
  
  .message,
  .signin {
    margin-bottom: 6px;
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  
  .form-field label {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: left;
    
  }
  
  .form-field input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: 16px;
  }
  .form-group{
    margin-bottom: 15px; /* Agregar margen inferior entre los campos de texto */

  }
  
  .submit {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: none;
    outline: none;
    padding: 8px 20px; 
    border-radius: 10px;
    font-size: 16px;
    background-color: #4285F4;
    color: #fff;
    display: block; /* Cambiar el botón a un elemento de bloque */
  margin: 0 auto; /* Hacer que el margen horizontal sea automático para centrarlo */
  margin-top: 13px;

  }
  
  .google-button {
    background-color: #4285F4; 
    color: #fff;
    border-radius: 10px;
    
  }
  
  .facebook-button {
    background-color: #3b5998;
    color: #fff;
    border-radius: 10px;

  }
  
  .submit:hover {
    background-color: #BCC6CF;
    color: black; 

  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  
  .social-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  }
  
  .social-button {
    margin: 0 10px; /* Ajusta el margen entre los botones según sea necesario */
  }
  
  /* Estilos específicos para los botones de Google y Facebook (si es necesario) */
  .google-button {
    /* Estilos para el botón de Google */
  }
  
  .facebook-button {
    /* Estilos para el botón de Facebook */
  }
  
 
  .blue-background {
    background-color: #C9D4DB; /* Cambiar el color de fondo a azul */
    padding: 20px; /* Opcional: agregar padding al contenedor */
    border-radius: 15px; /* Añadir bordes redondos */
    max-width: 700px; /* Establecer un ancho máximo para hacerlo más pequeño */
    margin: 0 auto; /* Centrar horizontalmente */
  }
  .mb-3 {
    text-align: center; /* Centrar el texto */
    margin: 0 auto;
  }
  
  .mb-3 .signin a {
    color: royalblue; /* Cambiar el color del texto "Sign-In" a azul */
  }
  
  .form-group {
    margin-bottom: 20px; /* Aumentar el margen inferior entre grupos */
  }
  
  /* Opción 1: Agregar margen inferior a los elementos individuales */
  .form-group label,
  .form-group input {
    margin-bottom: 10px; /* Ajustar el margen inferior de etiquetas y campos de entrada */
  }
  