.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:rgba(228, 235, 240, 0.75);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

  }
  .centered-title {
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Ajustar margen superior según sea necesario */
  }
  
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
  
  .message,
  .signin {
    margin-bottom: 6px;
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  
  .form-field label {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: left;
    
  }
  
  .form-field input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: 16px;
  }
  .form-group{
    margin-bottom: 15px; /* Agregar margen inferior entre los campos de texto */

  }
  
  .submit {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: none;
    outline: none;
    padding: 8px 20px; 
    border-radius: 10px;
    font-size: 16px;
    background-color: #B9C4CB;
    color: #fff;
    display: block; /* Cambiar el botón a un elemento de bloque */
  margin: 0 auto; /* Hacer que el margen horizontal sea automático para centrarlo */
  margin-top: 13px;

  }
  
  .google-button {
    background-color: #4285F4; 
    color: #fff;
    border-radius: 10px;
    
  }
  
  .facebook-button {
    background-color: #3b5998;
    color: #fff;
    border-radius: 10px;

  }
  
  .submit:hover {
    background-color: #BCC6CF;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  
  .social-buttons {
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }
  
  .social-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  
  .social-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .social-button:hover {
    background-color: rgb(56, 90, 194);
  }
  .google-button,
.facebook-button {
  display: inline-block; 
  width: calc(50% - 5px); 
  margin-right: 10px; 
}
.social-buttons-container {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
  }
  
 
  .blue-background {
    background-color: #C9D4DB; /* Cambiar el color de fondo a azul */
    padding: 20px; /* Opcional: agregar padding al contenedor */
    border-radius: 15px; /* Añadir bordes redondos */
    max-width: 700px; /* Establecer un ancho máximo para hacerlo más pequeño */
    margin: 0 auto; /* Centrar horizontalmente */
  }
  .mb-3 {
    text-align: center; /* Centrar el texto */
    margin: 0 auto;
  }
  
  .mb-3 .signin a {
    color: royalblue; /* Cambiar el color del texto "Sign-In" a azul */
  }
  

  /* CartScreen.css */
 
.gray-background {
  background-color: #ccc; /* Color gris de fondo */
}

.cart-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Ajusta este valor para cambiar el espaciado entre elementos */
}

.cart-item-image {
  width: 100px; /* Ajusta el tamaño de la imagen según tu preferencia */
  margin-right: 20px; /* Espacio entre la imagen y el nombre */
}

.cart-item-details {
  flex: 1;
}

.cart-item-price {
  margin-top: 10px; /* Espacio entre el nombre y los detalles */
}

.cart-item{
  margin-left: 10px;
}
/* Otros estilos... */
.title-text {
  font-weight: bold;
  text-align: center;
  padding: 3px;
  margin-bottom: 3x; /* Ajusta el margen inferior según sea necesario */
}

.title-text2 {
  font-weight: bold;
  text-align: center;
  padding: 3px;
  margin-bottom: 3x; /* Ajusta el margen inferior según sea necesario */
}