/* CartScreen.css */

.cart-item-container {
    display: flex;
    align-items: center;
    margin-top: 0px; 
  }
  
  .cart-item-image {
    max-width: 270px; /* Puedes ajustar el tamaño según tus necesidades */
    margin-right: 20px; /* Ajusta el espacio entre la imagen y el texto */
    margin-top: 0px; 
  }
  
  .cart-item-description {
    flex-grow: 1;
    margin-top: 0px; 
  }
  
  .cart-item-buttons {
    display: flex;
    align-items: center;
    
  }
  
  .cart-item-buttons button {
    margin-right: 5px; /* Ajusta el espacio entre los botones */
  }
  