/* CartScreen.css */

.cart-item-container {
    display: flex;
    align-items: center;
  }
  
  .cart-item-image {
    max-width: 270px; /* Puedes ajustar el tamaño según tus necesidades */
    margin-right: 40px; /* Ajusta el espacio entre la imagen y el texto */
  }
  
  .cart-item-description {
    flex-grow: 1;
  }
  
  .cart-item-buttons {
    display: flex;
    align-items: center;
  }
  
  .cart-item-buttons button {
    margin-right: 5px; /* Ajusta el espacio entre los botones */
  }
  
  .cart-item-price{
    margin-left: 10px;
  }