 
.gray-background {
    background-color: #ccc; 
  }

.cart-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .cart-item-image {
    width: 100px; 
    margin-right: 20px; 
  }
  .custom-listgroup{
    margin-bottom: 150px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-price {
    margin-top: 10px;
  }
  
  .cart-item{
    margin-left: 10px;
  }
  .title-text {
    font-weight: bold;
    text-align: center;
    padding: 3px;
    margin-bottom: 3x; 
  }
  
  .title-text2 {
    font-weight: bold;
    text-align: center;
    padding: 3px;
    margin-bottom: 3x;
  }