/* CartScreen2.css */

/* Estilos para el contenedor principal */
div {
    text-align: center; /* Centra el contenido */
    margin: 20px; /* Espacio alrededor del contenedor */
  }
  
  h1 {
    margin-bottom: 20px; /* Espacio debajo del título */
  }
  
  /* Estilos para cada elemento del carrito */
  .cart-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre elementos */
  }
  
  .cart-item-image {
    width: 100px; /* Tamaño de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-price {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-top: 10px; /* Espacio encima de los detalles del producto */
  }
  
  .total-cost {
    margin-top: 20px; /* Espacio encima del total */
  }
  