.footer {
  background-color: #4180AB;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section,
.center-section,
.right-section {
  flex: 1;
  padding: 0 210px;
}

.logo img {
  max-width: 100px;
  height: auto;
  margin-top: 0px;
}

.follow-us p {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.follow-us {
  margin-bottom: 100px;
  margin-top: 20px;
  margin-left: 0px;
}

.social-icons {
  display: flex;
  margin-left: -5px;
  margin-right: 1px;
}

.social-icons img {
  width: 40px; /* Define el ancho deseado */
  height: 40px; /* Define el alto deseado */
  /* También podrías usar solo una de estas propiedades dependiendo de lo que necesites */
}

.social-icon {
  margin-right: 10px;
}

.buy-with-us p,
.any-questions p {
  font-family: Arial, sans-serif; /* Cambia la fuente a Arial o a otra fuente sans-serif */
  font-weight: bold;
  margin-bottom: 0px;
}

.product-list,
.additional-links {
  list-style: none;
  padding: 0;
}

.product-list li,
.additional-links li {
  margin-bottom: 5px;
  color: white;
}