
/* footer.css */

.footer {
  background-color: #4180AB;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px; /* Aumentar el espacio interno */
  margin-top: 1000px; /* Agregar margen superior */
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 20px; /* Margen igual en todos los lados */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Añade esta línea para centrar horizontalmente */
  flex-direction: column; /* Añade esta línea para alinear verticalmente */
  margin-bottom: 20px; /* Espacio inferior para separar de los demás elementos */
}

.logo {
  align-content: center;
  width: 100px; 
  margin-left: 1000;
}

.buy-with-us-text {
  color:  'black'; /* Cambia el color al tono de gris deseado */
  font-weight: bold; /* Opcional: agregar negrita */
  margin-bottom: 0px; /* Ajusta el espacio entre el texto y la lista */
  margin-top: 20px; /* Agregar margen superior */

}



.menu-list {
  list-style: none;
  padding: 0;
  text-align: left; /* Alinear elementos de la lista a la izquierda */
}

.menu-list li {
  margin: 5px 0;
  transition: transform 0.3s;
  text-align: left; /* Alinear texto de cada ítem a la izquierda */
}

.menu-list li a {
  text-decoration: none;
  color: inherit;
}


.social-icons {
  display: flex;
  gap: 20px;
}

.social-icon {
  font-size: 24px; 
  transition: color 0.3s; 
}

.social-icon:hover {
  color: #BDD1DE;
}

.menu-list li:hover {
  transform: scale(1.1); 
}


/* Nuevas reglas para reducir el tamaño de las imágenes */
.social-icons img {
  width: 30px; /* Puedes ajustar este valor según tus necesidades */
}