.footer {
  background-color: #4180AB;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icon {
  font-size: 24px; 
  transition: color 0.3s; 
}

.social-icon:hover {
  color: #BDD1DE;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  margin: 5px 0;
  transition: transform 0.3s; 
}

.menu-list li:hover {
  transform: scale(1.1); 
}

.logo {
  align-content: center;
  width: 90px; 
  margin-right: 50px; 
}

.social-icons img {
  width: 30px;
}

