.header {
  display: flex;
  flex-grow: 1; 
  justify-content: space-between;
  align-items: center;
  background-color: #4180AB;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.logo img {
  height: 80px;
  width: 150px;
}

.InputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.9;
}

.search-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 5px;
}

.search-container input {
  border: none;
  margin-right: 10px;
  flex: 1;
}

.search-container button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 24px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons > * {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 40px;

}

.input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  font-size: 13.4px;
}

.cart-img,
.profile-img {
  width: 40px;
  height: 40px;
}

.header button {
  background: none;
  border: none;
}