/* Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  flex: 1;
}

.search-box {
  flex: 2;
  display: flex;
  justify-content: center;
}

.icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px; /* Ajusta la separación entre iconos */
}
