.image-button {
    margin-top: 0px;
    margin-bottom: 25px;
    width: 20px;
    height: 35px;
    margin-right: 35px;
    border-radius: 10px;
    margin-left: 20px;
    transition: background-color 0.3s; 
}

.button-content {
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 14px;
}

.button-container {
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}


.product-image {
  max-width: 70%; 
}

.product-container img {
  border: none; 

  max-width: 70%; 
}
.filter-container {
  margin-left: 0px; 
  margin-right: 0px; 
}


.product-details {
  font-size: 14px;
  color: #333;
}


.button-container button {
    color: black;
    cursor: pointer;
    border: none;
}

.button-container button img {
    width: 30%;
}

.button-container button:hover {
    background-color: #87CEFA; 
}

.button-container {
    align-items: center;
}

.button-container button {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .image-button {
        margin-right: 0;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 15px; 
  }
  
  .image-container img {
    width: 100%;
    margin-left: 20px; 
    max-width: 9100px; 
    height: auto; 
    margin: 10px; 
  }
  
  @media (max-width: 768px) {
    .image-container img {
      max-width: 100%; 
    }
  }

 
.category-Pets-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; 
    flex-wrap: wrap;

  }
  
 
  .category-Pet-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px; 

  }
  
  
  .button-Pet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .button-Pet-content img {
    width: 220px; 
    height: 220px; 
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px; 
  }
  
  
  .button-Pet-content span {
    font-size: 20px; 
    font-weight: bold;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .category-Pets-buttons-container {
      justify-content: center;
    }
  
    .category-Pet-button {
      flex-basis: 100%; 
    }
  }

  
.Card {
  margin-bottom: 20px; 
}


.card-img-top {
  width: 90%; 
  height: auto; 
}


.Card.Body {
  text-align: center; 
}


.Button {
  width: 100%; 
}

.button-container {
  flex-wrap: wrap; 
}

.image-button {
  position: relative;
  min-width: 150px; 
  flex: 1; 
  max-width: 150px; 
}


.subcategories {
  position: absolute;
  top: 100%; 
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white; 
  border: 1px solid #ccc; 
  padding: 10px;
  z-index: 1; 
  width: max-content; 
}

.subcategory-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-align: left;
  width: 100%; 
}

.subcategory-button:hover {
  background-color: #f0f0f0; 
}
