.image-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 185px;
    height: 55px;
    margin-right: 30px;
    border-radius: 10px;
    transition: background-color 0.3s; /* Agregamos una transición de color para que sea suave */
}

.button-content {
    margin-top: 5px;
}

.button-container {
    margin-bottom: 20px;
    display: flex;
    width: 85%;
    justify-content: center;
    margin-top: 10px;
}

.button-container button {
    color: black;
    cursor: pointer;
    border: none;
}

.button-container button img {
    width: 30%;
}

.button-container button:hover {
    background-color: #87CEFA; /* Cambiamos el color al azul celeste cuando el ratón está encima */
}

.button-container {
    align-items: center;
}

.button-container button {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .image-button {
        margin-right: 0;
    }
}
