.image-button {
    margin-top: 0px;
    margin-bottom: 25px;
    width: 20px;
    height: 35px;
    margin-right: 35px;
    border-radius: 10px;
    margin-left: 20px;
    transition: background-color 0.3s; /* Agregamos una transición de color para que sea suave */
}

.button-content {
    margin-top: 1px;
    margin-bottom: 0px;
    font-size: 14px;
}

.button-container {
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}
/* En tu archivo CSS (por ejemplo, homeScreen.css) */

.product-image {
  max-width: 70%; /* La imagen no superará el ancho del contenedor */
}

.product-container img {
  border: none; /* Elimina cualquier borde que se haya establecido anteriormente */

  max-width: 70%; /* Asegura que la imagen del producto no exceda el ancho del contenedor */
}
.filter-container {
  margin-left: 0px; /* Ajusta el margen izquierdo según tus preferencias */
  margin-right: 0px; /* Ajusta el margen derecho según tus preferencias */
}

/* Ajusta el tamaño del texto y otros estilos según sea necesario */
.product-details {
  font-size: 14px;
  color: #333;
}


.button-container button {
    color: black;
    cursor: pointer;
    border: none;
}

.button-container button img {
    width: 30%;
}

.button-container button:hover {
    background-color: #87CEFA; /* Cambiamos el color al azul celeste cuando el ratón está encima */
}

.button-container {
    align-items: center;
}

.button-container button {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .image-button {
        margin-right: 0;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    
    margin-top: 15px; /* Ajusta el espacio según sea necesario */
  }
  
  .image-container img {
    width: 100%;
    margin-left: 20px; /* El ancho de la imagen será el 100% del contenedor */
    max-width: 9100px; /* Ancho máximo de la imagen, ajusta según sea necesario */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 10px; /* Ajusta el margen según sea necesario */
  }
  
  @media (max-width: 768px) {
    .image-container img {
      max-width: 100%; /* Ajusta el ancho máximo para pantallas más pequeñas */
    }
  }

  /* styles.css (o el nombre que prefieras) */

/* Estilos para el contenedor de los botones de categoría de mascotas */
.category-Pets-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    flex-wrap: wrap;

  }
  
  /* Estilos para cada botón de categoría de mascotas */
  .category-Pet-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px; /* Espacio entre botones */

  }
  
  /* Estilos para el contenido dentro de cada botón */
  .button-Pet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para la imagen dentro de cada botón */
  .button-Pet-content img {
    width: 220px; /* Ajusta según sea necesario */
    height: 220px; /* Ajusta según sea necesario */
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px; /* Ajusta según sea necesario */
  }
  
  /* Estilos para el texto dentro de cada botón */
  .button-Pet-content span {
    font-size: 20px; /* Ajusta según sea necesario */
    font-weight: bold;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .category-Pets-buttons-container {
      justify-content: center;
    }
  
    .category-Pet-button {
      flex-basis: 100%; /* Ocupa todo el ancho disponible */
    }
  }

  /* Agrega estos estilos al CSS de tu componente Product */

/* Estilos para el contenedor del producto */
.Card {
  margin-bottom: 20px; /* Ajusta según sea necesario para evitar espacio en blanco entre productos */
}

/* Estilos para la imagen dentro del producto */
.card-img-top {
  width: 90%; /* Ajusta según sea necesario */
  height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para el cuerpo del producto */
.Card.Body {
  text-align: center; /* Centra el texto dentro del cuerpo del producto */
}

/* Estilos para el botón del producto */
.Button {
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

.button-container {
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea en pantallas pequeñas */
}

.image-button {
  position: relative;
  min-width: 150px; /* Establece el ancho mínimo para el botón */
  flex: 1; /* Permite que los botones se distribuyan de manera equitativa y se estiren si es necesario */
  max-width: 150px; /* Ancho máximo para evitar que los botones se estiren demasiado */
}


.subcategories {
  position: absolute;
  top: 100%; /* Coloca las subcategorías justo debajo del botón principal */
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white; /* Fondo blanco para las subcategorías */
  border: 1px solid #ccc; /* Borde para las subcategorías */
  padding: 10px;
  z-index: 1; /* Asegura que las subcategorías estén sobre los demás elementos */
  width: max-content; /* Ancho máximo basado en el contenido */
}

.subcategory-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-align: left;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.subcategory-button:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón sobre las subcategorías */
}
