/* ProductEditScreen.css */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:rgba(228, 235, 240, 0.75);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

  }
.form-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
  }
  
  .centered-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%; 
    margin-bottom: 15px;
  }
  .custom-width {
    width: 100%;
  }
  
  
  .submit {
    background-color: #007bff; 
    color: #fff; 
  }
  
  