.row h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .row .col.text-end {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .col {
    margin-right: 20px; 
  }
  
  .col img {
    max-width: 150px;
    max-height: 150px;
  }
  
  .col div {
    text-align: center;
    margin-top: 10px;
  }
  
  .col div button {
    margin-top: 10px;
  }
  
  .d-flex.justify-content-center.mt-4 {
    margin-top: 20px;
  }

  .product-container {
    border: 1px solid #808080; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 10px; 
  }
  