/* Estilo para las imágenes en la tabla */
.table img {
    max-width: 100%;
    max-height: 150px; /* Ajusta según tus necesidades */
}

/* Estilo para la celda que contiene la información del producto */
.table td[colspan="4"] {
    /* Ajusta el estilo según tus necesidades */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto dentro de la celda */
}

/* Estilo para los productos en una fila */
.table tr {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no caben en el contenedor */
    justify-content: space-around; /* Distribuye los elementos con espacio entre ellos */
    margin-bottom: 20px; /* Ajusta el espacio entre las filas según tus necesidades */
}

/* Estilo para cada producto en una fila */
.table td {
    flex-basis: calc(33.33% - 10px); /* Establece el tamaño inicial con márgenes */
    margin: 5px; /* Márgenes entre productos */
}

/* Estilo para los botones de paginación */
.d-flex .btn {
    margin-right: 5px; /* Ajusta el margen según tus necesidades */
}

.d-flex .btn.text-bold {
    font-weight: bold; /* Estilo para el botón de la página actual */
}

/* Estilo para los puntos suspensivos */
.d-flex .mx-2 {
    font-weight: bold;
    font-size: 18px; /* Ajusta el tamaño según tus necesidades */
}
