/* Estilo para las imágenes en la tabla */
.table img {
    max-width: 150px;
    max-height: 150px;
}

/* Estilo para la celda que contiene la información del producto */
.table td[colspan="4"] {
    /* Ajusta el estilo según tus necesidades */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto dentro de la celda */
}

/* Estilo para los productos en una fila */
.table tr {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; /* Ajusta el espacio entre las filas según tus necesidades */
}

/* Estilo para cada producto en una fila */
.table td {
    flex: 1;
    margin: 0 10px; /* Ajusta el margen entre los productos según tus necesidades */
}

/* Estilo para los botones de paginación */
.d-flex .btn {
    margin-right: 5px; /* Ajusta el margen según tus necesidades */
}

.d-flex .btn.text-bold {
    font-weight: bold; /* Estilo para el botón de la página actual */
}

/* Estilo para los puntos suspensivos */
.d-flex .mx-2 {
    font-weight: bold;
    font-size: 18px; /* Ajusta el tamaño según tus necesidades */
}
