/* ProductEditScreen.css */

.form-container {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Añade espacio interno alrededor del contenedor */
  }
  
  .centered-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%; 
    margin-bottom: 15px;
  }
  .custom-width {
    width: 100%; /* Ajusta el ancho según sea necesario */
  }
  
  
  .submit {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
  }
  
  /* Agrega estilos adicionales según sea necesario */
  