.search-results {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    width: 500px;
    z-index: 2;
}

.search-results div {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.search-results div:last-child {
    border-bottom: none;
}

.searchInput {
    width: 500px;
    padding: 6px;
    border-radius: 4px;
}

