.customCartScreen {
  margin-bottom: 30px; 
}

.label-right {
  text-align: left !important;; 
}

.margin {
    margin-bottom: 20px;
    align-items: right;
    justify-content: right;
}

.rojo {
    color: red;
}

 
.gray-background {
  background-color: #ccc;
  padding: 20px; 
}

.title-text {
  text-align: right;
}
.subtotal-text {
  text-align: right;
}

.title-text2{
  text-align: left;
}


.custom-label {
  font-size: 18px;
  color: #333;
}


.error-message {
  color: red;
  font-size: 12px;
  /* Otros estilos */
}

