.customCartScreen {
  margin-bottom: 30px; /* O cualquier otro valor que desees */
}

.margin {
    margin-bottom: 20px;
}

.rojo {
    color: red;
}

 
.gray-background {
  background-color: #ccc; /* Color gris de fondo */
  padding: 20px; /* Ajusta el espaciado interno según sea necesario */
}

.form-label {
  text-align: left !important;
}

.title-text {
  text-align: left;
}
.subtotal-text {
  text-align: left;
}