.customCartScreen {
  margin-bottom: 30px; /* O cualquier otro valor que desees */
}

.label-right {
  text-align: right !important;; 
}

.margin {
    margin-bottom: 20px;
    align-items: right;
    justify-content: right;
}

.rojo {
    color: red;
}

 
.gray-background {
  background-color: #ccc; /* Color gris de fondo */
  padding: 20px; /* Ajusta el espaciado interno según sea necesario */
}

.title-text {
  text-align: right;
}
.subtotal-text {
  text-align: right;
}

.title-text2{
  text-align: left;
}


