/* UserCardInformation.css */
.user-card-info-container {
  display: flex;
  flex-direction: column;
  width: 300px; /* Ancho del formulario */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre elementos */
}

label {
  /* Estilos para etiquetas */
  font-weight: bold;
}

input[type="text"] {
  /* Estilos para campos de texto */
  padding: 5px;
  border: 1px solid #ccc; /* Borde del campo */
  border-radius: 4px;
}

/* Estilos específicos para campos */
#cardNumber {
  width: calc(100% - 100px); /* Ancho del campo - ajustar según necesites */
}

#expirationDate,
#cvv {
  width: calc(50% - 5px); /* Ancho de la mitad de los campos */
}

.proceed-btn {
  /* Estilos para el botón */
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.proceed-btn:hover {
  background-color: #0056b3;
}