
.user-card-info-container {
  width: 500px;
}

form {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, calc(50% - 5px));
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

#cardNumber {
  grid-column: span 2;
}

#cvv {
  grid-column: span 1;
}

#expirationDate,
#postalCode,
#country {
  grid-column: span 1;
}

button.proceed-btn {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content: center;
}