
.user-card-info-container {
  display: flex;
  flex-direction: column;
  width: 350px; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

label {

  font-weight: bold;
}

input[type="text"] {
  
  padding: 5px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}


#cardNumber {
  width: calc(100% - 100px); 
}

#expirationDate,
#cvv {
  width: calc(45% - 5px);
}

#postalCode,
#country {
  width: calc(45% - 5px);
}

.proceed-btn {
 
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.proceed-btn:hover {
  background-color: #0056b3;
}