.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img.admin-image {
  width: 30px; 
  height: 30px; 
  object-fit: cover; 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  background-color: #4180AB; 
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white;
}

.navbar-toggler-icon {
  background-color: white;
}
.nav-dropdown {
  width: 80%; 
}




.nav-dropdown-item {
  width: 100%; 

  transition: background-color 0.2s; 
}

.nav-dropdown-item:hover {
  background-color: #87CEFA; 
}



img.product-icon {
  margin-right: 10px; 
  width: 25px; 
  height: 25px; 
  object-fit: cover; 
}

.cart-button {
 
  background-color: transparent;
}

/* Estilos del menú desplegable desde el lado derecho */
.cart-menu-right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px; /* Ancho del menú  */
  background-color: #8ab3cf; 
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2); 
  z-index: 999;
}


.cart-menu-content {
  padding: 20px;
  font-weight: bold;
}

.cart-items-container {
  margin-top: 20px;
  max-height: 700px; 
  overflow-y: auto; 
}



.disable-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0px;
  width: calc(100% - 400px); 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

.close-cart {
  font-size: 18px;
  font-weight: bold;
}

.bottom-cart-button {
  position: fixed;
  bottom: 20px; 
  right: 100px; 
  z-index: 999; 
}

.button-margin {
  margin-top: 10px; 
  margin-left: 15px;
}

.line-container {
  width: 100%; 
  position: relative;
  margin-bottom: 10px;
}

.line {
  position: absolute;
  border-top: 1px solid #000; 
  top: 50%; 
  width: calc(100vw - 40px);
  transform: translateY(-50%);
  left: 50%; 
  margin-left: -217px;
}

.text-up {
  margin-right: 210px;
}

@media screen and (max-width: 568px), (max-height: 900px){
  .cart-menu-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px; 
    background-color: #8ab3cf; 
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2); 
    z-index: 999;
    
  }

  .text-up {
    margin-right: 180px;
  }

  .cart-menu-content {
    max-height: 80vh; 
    overflow-y: auto; 
  }

  .bottom-cart-button {
    margin-top: 20px; 
  }

  .disable-scroll {
    overflow: hidden;
  }
  
}
