.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img.admin-image {
  width: 30px; /* Ancho deseado */
  height: 30px; /* Altura deseada */
  object-fit: cover; /* Otras opciones: contain, fill, none, scale-down */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  background-color: #4180AB; /* Puedes cambiar esto según tu preferencia */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white;
}

.navbar-toggler-icon {
  background-color: white;
}
.nav-dropdown {
  width: 80%; /* Ancho deseado para el contenedor */
}
/* styles.css */

/* Otros estilos existentes */

.nav-dropdown-item {
  width: 100%; /* El ancho es del 100% para ocupar todo el ancho del contenedor */

  transition: background-color 0.2s; /* Transición de color de fondo al asercarse el mouse */
}

.nav-dropdown-item:hover {
  background-color: #87CEFA; /* Color de fondo al asercarse el mouse */
}



img.product-icon {
  margin-right: 10px; 
  width: 25px; /* Ancho deseado */
  height: 25px; /* Altura deseada */
  object-fit: cover; /* Otras opciones: contain, fill, none, scale-down */
}

.cart-button {
  /* Estilos del botón del carrito */
  background-color: transparent;
}

/* Estilos del menú desplegable desde el lado derecho */
.cart-menu-right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px; /* Ancho del menú - ajusta según sea necesario */
  background-color: #c5c1c1; /* Color de fondo del menú */
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2); /* Sombra para efecto de separación */
  z-index: 999; /* Asegura que esté encima de otros elementos */
  /* Agrega más estilos según tus necesidades de diseño */
}

/* Estilos para el contenido dentro del menú */
.cart-menu-content {
  padding: 20px;
  /* Otros estilos para el contenido del menú */
}

.cart-items-container {
  max-height: 750px; /* Altura máxima del contenedor, ajusta según sea necesario */
  overflow-y: auto; /* Habilita el scroll vertical cuando sea necesario */
}

.disable-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 78.4%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad aquí */
  z-index: 1; /* Asegúrate de que esté encima del contenido */
}

.close-cart {
  font-size: 24px;
  font-weight: bold;
}

.bottom-cart-button {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia del borde inferior según tu diseño */
  right: 100px; /* Ajusta la distancia del borde derecho según tu diseño */
  z-index: 999; /* Ajusta el z-index si es necesario */
}

.button-margin {
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  margin-left: 15px;
}

.line-container {
  width: 100%; /* Hace que la línea ocupe el ancho completo de la pantalla */
  position: relative;
  margin-bottom: 15px;
}

.line {
  position: absolute;
  border-top: 1px solid #000; /* Ajusta el color y el grosor según sea necesario */
  top: 50%; /* Centra verticalmente la línea */
  width: calc(100vw - 40px); /* Extiende la línea a ambos lados */
  transform: translateY(-50%);
  left: 50%; /* Alinea el centro de la línea con el centro del contenedor */
  margin-left: -11.5vw; /* Mueve la línea hacia la izquierda a la mitad del ancho de la ventana */
}
